.menuBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.menuItem {
    margin-right: 75px;
}

.link {
    color: #E8E9ED;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    letter-spacing: 2px;
}
.link:hover {
    color: grey;
}


@media (max-width: 768px) {
    .menuItem {
        margin-right: 30px;
    }

    .link {
        font-size: 14px;
    }
}