.main {
    margin-top: 5px;
}

.p {
    text-indent: 2em;
}

.pre {
    text-indent: 0;
    display: block;
    padding: 15px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #a5d6ff;
    border: 1px solid grey;
    font-size: 12px;
}

.pre > code {
    display: block;
    white-space: pre-line;
}

.answer {
    background-color: whitesmoke;
    color: whitesmoke;
    padding: 0 10px;
}
.answer:hover {
    background-color: transparent;
    color: inherit;
}

.link {
    color: inherit;
    transition: 0.2s;
}
.link:hover {
    color: white;
}